@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
  font-family: 'Nunito', sans-serif;
}
#redeemBox {
  margin: 2%;
}
#redeemtxt {
  margin-top: 5%;
}
#redeemtxt1 {
  margin-top: -2%;
  font-size: 14px;
}
#voucherCodeBox {
  width: 80%;
  height: 70px;
  background-color: white;
  box-shadow: 5px 5px 25px rgb(209, 206, 206);
  margin: 10% 0;
  border-radius: 10px;
}
#voucherCode {
  height: 90%;
  border: none;
  font-size: 20px;
  /* columns: black; */
  margin-left: 3%;
  width: 60%;
  outline: none;
}
#checkvalidityBtn {
  float: right;
  margin: 2%;
  border: none;
  background-color: rgb(252, 128, 140);
  height: 40px;
  color: white;
  width: 24%;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

#voucher {
  font-size: 16px;
  margin-top: 5%;

}

#howtoredeem {
  display: flex;
  flex-direction: column;
}
.howtoredeemtxt {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.howtoredeemtxt > img {
  width: 30px;
  height: 30px;
}
.howtoredeemtxt > p {
  font-size: 14px;
  margin: 7px 20px;
}

/* css of support */
#support {
  margin: 0% 2% 0% 2%;
  width: 65%;
  height: 100%;
  /* border: 1px solid red; */
}

/* #support > div {
  margin-bottom: -1%;
} */

.suporttitle {
  margin-top: 9%;
}

#helpList {
  display: flex;
  /* border: 1px solid red; */
  /* justify-content: center;
  align-items: center; */
}
.helpList {
  margin-left: 20px;
  margin-bottom: -2%;
  height: 60px;
  width: 180px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  cursor: pointer;
  position: relative;
  top: 0;
  background-color: rgb(245, 243, 243);
  box-shadow: 2px 2px 15px rgb(212, 209, 209);
  transition: top ease 0.5s;
}
.helpList:hover {
  background-color: rgb(245, 243, 243);
  box-shadow: 2px 2px 20px rgb(212, 209, 209);
  top: -3px;
}
.helpListtxt {
  font-weight: 900;
}

#faqs {
  display: flex;
  /* margin-top: -3%; */
  margin-left: -2%;
  margin-bottom: -4%;
}
.faqs {
  margin-left: 3%;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

#tpolicy {
  display: flex;
  /* margin-top: -3%; */
  margin-left: -2%;
  margin-bottom: -4%;
}
.tpolicy {
  margin-left: 3%;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

#contactus {
  width: 100%;
  text-align: center;
}
.supportLine{
    border: 1px solid rgb(239,239,239);
    margin-top: 5%;
    margin-bottom: -5%;
}